body{
    width: 100%;
    margin: 0;
}

*,
*:before,
*:after{
    box-sizing: border-box;
}

/*Container*/
.container{
    width: 100%;
    max-width: 1700px;
    margin: 0 auto;

}

h1, h2, h3, h4, h5, h{
    margin: 0;
}

/*Header*/

.header{
    width: 100%;
    padding-top: 25px;

    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    position: absolute;
}

.header__logo{
    width: 100%;

}

.header__inner{
    display: flex;
    justify-content: space-between;

    align-items: center;
}

/*Nav*/

.nav{
    width: 100%;
    font-size: 24px;

    min-width: 1300px;
}

.nav__link{
    display: inline-block;
    vertical-align: top;

    margin: 0 25px;

    color: white;
    text-decoration: none;

    transition: color .2s linear;

    position: relative;
    top: 100%;
    left: 0;
    z-index: 1000;
}

.nav__link:after{
    margin-top: 5px;
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    opacity: 0;
    
    background-color: #e88174;

    position: absolute;

    transition: opacity .2s linear;
}

.nav__link:hover{
    color:#e88174;
}

.nav__link:hover:after{
    opacity: 1;
}

/*Intro*/
.intro{
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;


    background: url("../images/intro.png") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.intro__inner{
    width: 100%;
    margin: 0 auto;
    max-width: 500px;
}

.intro__title{
    font-size: 150px;
    color: white;

    text-align: center;
    z-index: 1000;
}

.intro_subtitle{
    font-size: 60px;
    color: white;

    text-align: center;
    z-index: 1000;
}

/*Section*/

.section{
    margin-top: 150px;
    margin-bottom: 150px;
}
.section__title{
    font-size: 75px;
    color: black;

    text-align: left;
}

.section__subtitle{
    font-size: 50px;
    color:black;

    text-align: left;
}

.section__text{
    font-size: 50px;
    color: black;

    text-align: left;
}

.section__text:before{
    margin-bottom: 30px;
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    
    
    background-color: black;
}

/*About*/

.about__inner{
    display: flex;
    justify-content: space-between;

    align-items: center;


}

.about__text{
    max-width: 900px;
}

.about__img{
    height: 750px;
    width: auto;
}

/* Specialities */

.spec__title{
    font-size: 100px;
    color: white;

    text-align: center;
}

.spec__subtitle{
    margin-top: 15px;
    font-size: 35px;
    color:white;

    text-transform: uppercase;

    text-align: center;
}

.spec{
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;


    background: url("../images/spec.png") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

/* Special menu */

.specmenu__inner{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.specmenu__title{
    font-size: 100px;
    color: black;

    text-align: center;
}

.specmenu__subtitle{
    margin-top: 15px;
    font-size: 35px;
    color:black;

    text-transform: uppercase;

    text-align: center;
}

.specmenu__images{
    margin-top: 30px;

}

.specmenu__text{
    margin-bottom: 20px;
}

.specmenu__img{
    margin: 0 10px;


    height: 540px;
    width: 540px;

}

/* Our services */

.services__header{
    display: flex;
    align-items: center;
    gap: 15px;
}

.services__title{
    font-size: 75px;
    color: black;

    text-align: center;
}

/* block */


.servises__blocks{
    width: 100%;
}

.servises__block{
    display: inline-block;
    vertical-align: top;
    text-align: center;
    max-width: 500px;
    margin: 150px 30px;
}

.services__img{
    width: 300px;
    height: auto;
}

.block__title{
    margin-top: 15px;
    font-size: 50px;
    color:black;
}

.block__text{
    color: black;
    font-size: 35px;
}

.block__text::before{
    margin-bottom: 30px;
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    
    
    background-color: black;
}

/* Pasta */

.pasta{
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;


    background: url("../images/pasta.png") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.pasta__inner{
    margin-left: 1000px;
    text-align: left;
    color: white;
    max-width: 800px;
}

.pasta__suptitle{
    font-size: 75px;
}

.pasta__title{
    font-size: 150px;
    margin-bottom: 30px;
}

.pasta__subtitle{
    font-size: 50px;
    max-width: 600px;
    margin-bottom: 40px;
}

.pasta__text{
    font-size: 40px;
}

/* Footer */

.footer{
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer__inner{
    display: flex;
    justify-content: space-between;

    align-items: center;
}

.footer__about{
    display: flex;
    justify-content: space-between;
}

.footer__block{
    margin-left: 50px;
    margin-right: 50px;
    font-size: 25px;
}

.fblock__title{
    font-size: 35px;
}

.fblock__title::after{
    margin-top: 5px;
    content: "";
    display: block;
    width: 195%;
    height: 2px;

    background-color: black;
}

.footer__description{
    text-align: left;
}

.footer__title{
    font-size: 50px;
    color: black;

    text-align: left;
}

.footer__text{
    font-size: 30px;
    max-width: 700px;

    padding-bottom: 25px;
}

.footer__text::after{
    margin-top: 30px;
    content: "";
    display: block;
    width: 100%;
    height: 2px;

    background-color: black;
}

.footer__logo{
    max-width: 175px;
    height: auto;
}